* {
	box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
	margin: 0;
}

#wrapper {
    background-color: #000000;
	padding: 0;
}

header {
    background-color: #000000;
	background-image: url(images/coffeelogo.jpg);
	background-repeat: no-repeat;
    color: #ffffff;
	height: 128px;
    padding-top: 5px;
	padding-bottom: 5px;
}

header a {
	text-decoration: none;
}

header a:link {
	color: #ffffff;
}

header a:visited {
	color: #ffffff;
}

header a:hover {
	color: #8c8c8c;
}

h1 {
    font-size: 3em;
	font-family: 'Georgia';
	text-align: left;
	padding-right: 50px;
	padding-left: 25px;
}

h2 {
    color: #ffffff;
	font-size:xx-large;
}

p {
    color: #ffffff;
	font-size: large;
}

h3,
dt {
	color: #ffffff;
}

h4 {
	background-color: #000000;
	font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #ffffff;
	clear: left;
}

nav {
    text-align: center;
    font-size: 1.5em;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: #ffffff;
}

nav a:visited {
	color: #ffffff;
}

nav a:hover {
	color: #8c8c8c;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 1.25em;
	list-style-type: none;
	margin: 0;
	padding-top: 225px;
}
nav ul li {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	padding: .25em .25em;
	margin-right: 0px;
}

main {
	background-color: #000000;
	display: block;
	padding: 0 0 2em 0;
}

main h2, h3, h4, p, div, ul, dl {
	padding-left: 1em;
	padding-right: 1em;
}

main ul {
	padding-left: 2em;
}

.details {
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

.image-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem 0;
	background-color: #000000;
  }
  
  .image-banner img {
	width: 400px;
	height: 300px;
	object-fit: fill;
	border-radius: 8px;
  }

.imageb {
	flex-shrink: 0;
  	width: 300px;
  	height: 300px;
  	background-size: cover;
  	background-position: center;
  	border-radius: 10px;
  	background-color: #ccc;
}

.together2.reverse {
	flex-direction: row-reverse;
}

.together {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 3rem;
  }

.together2 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	max-width: 1000px;
	margin: 0 auto;
  }

  .itemwrapper {
	display: flex;
  	align-items: flex-start; 
  	gap: 20px; 
  	max-width: 1300px;
  	margin: 0 auto;
  }

  .textwrapper {
	flex: 2;
  }

  #fourofakind {
	flex: 1;
  	height: 700px;
  	width: 700px;
	padding-right: 40%;
  	background-image: url(images/4ofakind.PNG);
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
  	border-radius: 8px;
}

#DDKing {
	height: 300px;
	width: 300px;
	background-image: url(images/DDKing3.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left;
	margin-right: auto;
    margin-left: 0;
}

#datalines {
	height: 300px;
	width: 1000px;
	background-image: url(images/Datalines.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left center;
	margin-right: 10px;
    margin-left: 10px;
}

#mobile {
	display: inline;
}

#desktop {
	display: none;
}

footer {
    background-color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
	border-top: 2px solid #ffffff;
}
